body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('audioengineer1.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    box-sizing: border-box;
}

.logo-header {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 10px;
    color: #ff8800;

}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-right: 20px;
    animation: fadeInUp 1s ease-in-out;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s, transform 0.3s;
}

nav ul li a:hover {
    background-color: #ff8800;
    transform: scale(1.05);
}

.content {
    padding: 1rem;
}

.content {
    padding: 1rem;
}

section {
    margin-bottom: 2rem;
}

.introduction, .features, .benefits, .getting-started {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 1rem;
    border-radius: 8px;
}

.introduction h2, .features h2, .benefits h2, .getting-started h2 {
    margin-top: 0;
}

.features ul, .benefits ul, .getting-started ol {
    padding-left: 1.5rem;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
    }

    nav ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    nav ul li a {
        display: block;
        width: 100%;
        padding: 10px 0;
    }

    .logo-header {
        margin-bottom: 1rem;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}